<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>http://www.vaadin.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/vaadin_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>https://www.gdata-advancedanalytics.de/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/gdata_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>http://www.praqma.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/praqma_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>http://www.sig.eu/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/sig_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>https://www.first8.nl/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/first8_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>https://www.jfrog.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/jfrog_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>http://devchampions.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/devchampions_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Partners</string>
		<key>url</key>
		<string>http://redhat.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/redhat_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Collaborating User Groups</string>
		<key>url</key>
		<string>http://javagruppen.dk/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/javagruppen_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Collaborating User Groups</string>
		<key>url</key>
		<string>http://www.gr8ladies.org/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/gr8ladies_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Silver sponsor</string>
		<key>url</key>
		<string>http://mind4it.dk/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/mind4it_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Gold sponsor</string>
		<key>url</key>
		<string>https://www.motork.io</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/motork_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Gold sponsor</string>
		<key>url</key>
		<string>http://ociweb.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/oci.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Platinum sponsor</string>
		<key>url</key>
		<string>http://nine.dk/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/nine.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Silver sponsor</string>
		<key>url</key>
		<string>http://tothenew.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/tothenew.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Silver sponsor</string>
		<key>url</key>
		<string>http://exensio.de/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/exensio.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Gold sponsor</string>
		<key>url</key>
		<string>https://www.codecentric.de/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/codecentric.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Media sponsor</string>
		<key>url</key>
		<string>http://groovycalamari.com</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/groovycalamari_300.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Silver sponsor</string>
		<key>url</key>
		<string>https://www.canoo.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/canoo.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Media sponsor</string>
		<key>url</key>
		<string>https://www.autentia.com/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/autentia.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Organizers</string>
		<key>url</key>
		<string>http://gennemtaenkt.dk/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/gennemtaenktit.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Hosting Sponsors</string>
		<key>url</key>
		<string>http://easyspeedy.dk/</string>
		<key>image_url</key>
		<string>http://gr8conf.eu/images/eu/sponsors/easyspeedy.png</string>
	</dict>
</array>
</plist>
